/* global.css or app.css */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent any potential horizontal scrolling */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section-specific styles */
.hero-section,
.products-section {
    position: relative;
    width: 100%; /* Use 100% to prevent horizontal overflow */
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
